.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;



}
body{
    width: 1280px;
    margin: 0 auto;
}