.greetingForm {
}

.inputAndButtonContainer {
}

.error {
color: #cc0000;
}

.input {
}

.input:focus {
}

.errorInput {
color: #cc0000;
    border: 3px solid red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
